.*.swp
bin
tags
*.esl
*.pem
*.auth
*.sig
*.sha1
*.sha256
*.crt
debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/safeboot
*.o
a.out
certs/*[0-9]
*.tgz
*.log
*.out
*.pcr
*.key
*.pub
eventlog
ima
log
nonce
*.pem
*.ctx
*.priv
*.bin
*.deb
blob
local.conf
*.cpio
*.cpio.*
*.efi
*.squashfs
*.img
