Source: safeboot
Section: admin
Priority: optional
Maintainer: Trammell Hudson <hudson@trmm.net>
Build-Depends: debhelper-compat (= 12), efitools, gnu-efi, opensc, yubico-piv-tool, libengine-pkcs11-openssl, build-essential, binutils-dev, git, automake, help2man, libssl-dev, uuid-dev, libqrencode-dev, curl, libjson-c-dev, libcurl4-openssl-dev
Standards-Version: 4.4.1
Homepage: https://github.com/osresearch/safeboot/
#Vcs-Browser: https://salsa.debian.org/debian/safeboot
#Vcs-Git: https://salsa.debian.org/debian/safeboot.git

Package: safeboot
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, binutils, safeboot-tpm2-tools | tpm2-tools, safeboot-tpm2-totp | tpm2-totp
Description: Common (core) package for Safeboot
 Safeboot is a collection of utilities and services for securing the boot
 process.

Package: safeboot-boot
Architecture: all
Breaks: safeboot (<<0.8)
Replaces: safeboot (<<0.8)
Depends: ${shlibs:Depends}, ${misc:Depends}, safeboot, efitools, opensc, yubico-piv-tool, libengine-pkcs11-openssl, uuid, binutils, libqrencode-dev, libjson-c4, libcurl4
Description: Boot Linux more safely
 Makes the Linux boot process slightly safer by enabling UEFI Secure Boot,
 signing kernel and initrd with Yubikey hardware tokens, storing disk
 encryption secrets in the TPM, and preventing persistence with 
 dmverity read-only root filesystems.

Package: safeboot-attest-client
Architecture: all
Breaks: safeboot (<<0.8)
Replaces: safeboot (<<0.8)
Depends: ${shlibs:Depends}, ${misc:Depends}, safeboot
Description: Safeboot attestation client
 Attestation client for Safeboot, which is intended to be used for securely
 fetching local filesystem encryption keys (including for the root
 filesyste), and other secrets (including device credentials).

Package: safeboot-attest-server
Architecture: all
Breaks: safeboot (<<0.8)
Replaces: safeboot (<<0.8)
Depends: ${shlibs:Depends}, ${misc:Depends}, safeboot
Description: Safeboot attestation server
 Enrollment and attestation server for Safeboot, which is intended to be
 used for securely fetching local filesystem encryption keys (including for
 the root filesyste), and other secrets (including device credentials).

Package: safeboot-tpm2-tools
Architecture: any
Breaks: safeboot (<<0.8)
Replaces: safeboot (<<0.8)
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: tpm2-tools at version needed by Safeboot
 Safeboot depends on more recent versions of tpm2-tools than are packaged.

Package: safeboot-tpm2-totp
Architecture: any
Breaks: safeboot (<<0.8)
Replaces: safeboot (<<0.8)
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: tpm2-totp at version needed by Safeboot
 Safeboot depends on more recent versions of tpm2-totp than are packaged.
